.cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  }
  
  .header {}
  
  .main {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footer:first-child {
    text-transform: uppercase;
    margin-right: 10px;
  }
  .footer:last-child {
    font-weight: bold;
  }