.mr1{
    margin-right: 10px;
}
  
  .number {
    width: 40px;
  }
  .img {
    width: 100px;
  }
  .name {
    width: 200px;
  }
  .qty {
    width: 90px;
  }
  .price {
    width: 80px;
  }
  .cost {
    width: 40px;
    margin-right: 40px;
  }

