.product {
  flex-basis: 30%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 20px;
  text-align: center;
  background: white;
  border: 1px solid #e1e1e1;
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease; 
}

.product:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px); 
}

.thumbnail {
  width: 100%;
  height: auto; 
  margin-bottom: 15px; 
}

.thumbnail img {
  max-width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 4px;
}

.title {
  font-size: 1rem;
  margin: 0.5rem 0 1rem; 
  color: #333; 
  font-weight: 600; 
}

.priceBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto; 
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #4CAF50; 
}

.detailBtn {
padding: 10px 10px;
background: #0056b3;
color: white;
border: none;
border-radius: 4px;
transition: background-color 03.s ease ;
}

.detailBtn:hover {
background: #044794;
cursor: pointer;
}


.buyBtn {
  padding: 10px 20px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px; 
  transition: background-color 0.3s ease; 
}

.buyBtn:hover {
  background: #367c39; 
  cursor: pointer; 
}
