
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
}

.app-title {
  color: #d60000;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 20px;
}

.content {
  margin-top: 20px;
}

/*TODOS*/

.todos-container {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todos-header {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.todos-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-text {
  flex-grow: 1;
}

.delete-todo-button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.add-todo-container{
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-input{
  padding: 13px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.todo-button-add {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #00cb00;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/*USERS*/


.user-list-container {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list-header {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.user-name {
  flex-grow: 1;
}

.delete-button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.add-user-container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-input{
  padding: 13px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.user-button-add {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #00cb00;
  color: #fff;
  border: none;
  border-radius: 5px;
}